
        <section class="custom-container-index" style="border: 1px solid black;">
            <div class="card" style="position: relative; width: 100%; padding: 15px; background: white;">
                <h2 style="color:black; text-align: center;">LOGIN</h2>
                
                    <form style="position: relative; background: #ffb3b3; margin: 0 auto 100px; padding: 45px; text-align: center; max-width: 360px; z-index: 1; ">
                       

                            <input type="text" class="form-control" id="uname" placeholder="username" style="width: 100%; padding: 15px; margin: 0 0 15px; font-family: verdana; background: #f2f2f2"/>

                            <input type="password" class="form-control" id="pswd" placeholder="password" style="width: 100%; padding: 15px; margin: 0 0 15px; font-family: verdana; background: #f2f2f2"/>

                            <input type="button" class="waves-effect waves-light btn" value="Login" id="btn1"/>
                        
                    </form>
                
            </div>
        </section>
  
